:root {
    --background-color: #F1F1F1;
    --primary-color: #0F141E;
    --black-color: #000000;
    --light-color: #86898F;
    --red-color: #FFE5E5;
    --blue-color: #D9E8FF;
    --yellow-color: #FFF9DC;
    --green-color: #E5FFE7;
    --purple-color: #E1E1FF;
    --orange-color: #FFE2D1;
}
